<a href="/home">
  <div>back</div>
</a>
<h2>Meals & Macros</h2>
<p>Meals & Macros was created to save you time. 
  We want to give you even an extra hour to spend on your interest, 
  with friends, and most importantly your family.</p>
<p>Beyond the extra hour we want to add decades of enjoyable years to your life by 
  facilitating healthy eating habits for you and your family.</p>

<h3>About us</h3>
<p>Jon and AJ are 20 somethings from southeast Michigan. We like to lift heavy 
  things and write code. Check out our other projects at pinlac.net and 
  ajsaclayan.com</p>