<ion-view view-title="Home" hide-tabs='false'>
  <ion-content>
    <div class='col text-center'>
      <h1>Meals & Macros</h1>
    </div>
<!--     <div class="input-group search-bar">
      <input type="text"
          ng-model="search"
          ng-model-options="{debounce:800}"
          placeholder="Enter food" />
    </div> -->
    <!-- <div id="main-info"
        ng-include="'partials/main-info.html'">
    </div>

    <div id="related-results"
         ng-include="'partials/related-results.html'">
    </div> -->
    <ion-lists class='cards'>
      <ion-item class='item-divider'>Breakfast</ion-item>
        <ion-item>Protein shake<span class='item-note'>1 scoop</span></ion-item>
      <ion-item class='item-divider'>Lunch</ion-item>
        <ion-item>Greek yogurt w/ fruit and granola<span class='item-note'>180g</span></ion-item>
      <ion-item class='item-divider'>Dinner</ion-item>
        <ion-item>Chicken & Brocolli</ion-item>
    </ion-lists>
  </ion-content>
</ion-view>
