<ion-view view-title="Home">
  <ion-header-bar>hg
    <button class="icon ion-navicon ">gfds</button>
  </ion-header-bar>
  <ion-content>
    <div class='col text-center'>
      <h1>Meals & Macros</h1>
    </div>
    <div class="input-group search-bar">
      <input type="text"
          ng-model="search"
          ng-model-options="{debounce:800}"
          placeholder="Enter food" />
    </div>
    <!-- <div id="main-info"
        ng-include="'partials/main-info.html'">
    </div>

    <div id="related-results"
         ng-include="'partials/related-results.html'">
    </div> -->
    <div class='col col-bottom'>
      <a class="button button-block icon icon-right ion-chevron-right" ui-sref='about'>about</a>
    </div>

  </ion-content>
</ion-view>
