<ion-view hide-nav-bar="true" hide-tabs='true'>
  <ion-content>
    <div class='col text-center'>
      <h3>Welcome to </h3>
      <h1>Meals & Macros</h1>
    </div>

    <div ng-controller="signInCtrl" class="list list-inset">
        <form action="/" class="userForm">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="user.username" placeholder='Your email'>
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password" placeholder='Your password'>
            </label>
    <span class="label">
            {{isValid}}
     </span>
          <button class="button icon icon-right ion-chevron-right" ng-click="signIn()">
            Sign-In
          </button>

       </form>

    <div class="padding button-bar">

      <a ui-sref="create-account.login" class="button icon icon-right ion-chevron-right">
        Create account
      </a>
    </div>
    </div>
    <div class="text-center">
        <a ui-sref="forgot-password" class="button button-clear button-balance">
          Forgot Password
        </a>
    </div>
  </ion-content>
</ion-view>
