<ion-view hide-nav-bar="true" hide-tabs='true'>
  <ion-content>
    <div class='col text-center'>
      <h3>Welcome to </h3>
      <h1>Meals & Macros</h1>
    </div>

    <div class="list list-inset">
        <form class="simple-form">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="user.username" placeholder='Your email'>
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password" placeholder='Your password'>
            </label>
       </form>
    </div>
    <div class="padding button-bar">
      <button class="button icon icon-right ion-chevron-right" ng-click="signIn(user)">
        Sign-In
      </button>
      <a ui-sref="create-account.login" class="button icon icon-right ion-chevron-right">
        Create account
      </a>
    </div>
 
    <div class="text-center">
        <a ui-sref="forgot-password" class="button button-clear button-balance">
          Forgot Password
        </a>
    </div>
  </ion-content>
</ion-view>
